@use '@/styles/variables' as *;

.container {
  display: flex;
}

.main {
  height: 100dvh;
  width: 100%;
  overflow: auto hidden;
  scrollbar-width: thin;
  transition: margin-left $transition-normal;
}

.mainOpen {
  margin-left: $gnb-width + $lnb-width;
}

.mainClosed {
  margin-left: $gnb-width;
}
