@use '@/styles/variables' as *;

.container {
  min-height: 100dvh;
  background-color: $color-bg-primary;
}

.main {
  max-width: $content-max-width;
  min-height: 100dvh;
  margin: 0 auto;
  padding: calc(#{$topbar-height} + #{$spacing-xl}) $spacing-lg $spacing-3xl;
}
