@use '@/styles/variables' as *;

.diaryList {
  display: flex;
  flex-flow: column;
  height: 100dvh;
  min-width: 360px;
  padding-top: 28px;
  position: relative;
}

.scroll {
  flex-grow: 1;
  overflow: hidden auto;
  padding: 0 $spacing-lg;
  position: relative;
  scrollbar-width: thin;
}

.video {
  display: block;
  width: 700px;
  max-width: 100%;
  aspect-ratio: 16/9;
  border-radius: $radius-lg;
  object-fit: cover;
  background-color: $color-disabled;
  margin: 60px auto $spacing-lg;
}

.text {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  margin-bottom: 22px;
  text-align: center;
}

.button {
  display: block;
  width: 163px;
  height: 42px;
  margin: 0 auto 60px;
  border-radius: $radius-lg;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  text-align: center;
  white-space: nowrap;
  background-color: $color-text-primary;
  color: #dadada;
}
