@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

:where(html, body) {
  min-height: 100dvh;
}
:where(html) {
  text-size-adjust: none;
}
:where(body) {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: env(safe-area-inset-bottom);
  overflow-wrap: break-word;
  font-family: 'Pretendard Variable', Pretendard, system-ui, sans-serif;
}
:where(:lang(ko)) {
  word-break: keep-all;
}
:where(img) {
  max-width: 100%;
  height: auto;
}
:where([class]) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
:where([class])::before,
:where([class])::after {
  box-sizing: border-box;
  pointer-events: none;
}
:where(ol[class], ul[class]) {
  list-style: none;
}
:where(
  button[class],
  dialog[class],
  fieldset[class],
  hr[class],
  iframe[class],
  input[class],
  select[class],
  textarea[class]
) {
  border: 0;
}
:where(input[class], textarea[class]) {
  border-radius: 0;
}
:where(
  button[class],
  input[class],
  mark[class],
  meter[class],
  progress[class]
) {
  background-color: transparent;
}
:where(table[class]) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
:where(
  button[class],
  input[class],
  meter[class],
  progress[class],
  select[class],
  textarea[class]
) {
  appearance: none;
}
:where(
  button[class],
  label[class],
  [type='checkbox'][class],
  [type='radio'][class]
) {
  cursor: pointer;
}
