// === LNB (Local Navigation Bar) ===

.lnb {
  display: flex;
  flex-flow: column;
  position: fixed;
  inset: 0 auto 0 72px;
  width: 264px;
  z-index: 97;
  background: #fff;
  border-right: 1px solid #ebebeb;
  overflow: hidden;
  padding: 11px 12px 0;
  transition: translate 0.2s;
  will-change: translate;
}

.lnbShow {
  translate: 0;
}

.lnbHide {
  translate: -264px;
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: inherit;
  text-decoration: none;
}

.diaryWrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.newDiaryLink {
  display: flex;
  align-items: center;
  height: 48px;
  min-height: 48px;
  padding-left: 38px;
  padding-right: 10px;
  margin-left: -5px;
  margin-right: -5px;
  border: 5px solid transparent;
  border-radius: 13px;
  background-clip: padding-box;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  position: relative;
  text-decoration: none;

  &:hover {
    background-color: #f0f0f0;
  }
}

.footer {
  margin-top: auto;
  padding: 24px 0 24px 10px;
  letter-spacing: -0.01em;
  font-size: 10px;
  line-height: 15px;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-top: 8px;
  }
}
